<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>27eat</title>
      <link rel="stylesheet" href="css/main.css">
   </head>
   <body>
      <div id="app">
         <router-link to="/">home</router-link>
         <router-link to="/settings" v-if="isLoggedIn">settings</router-link>
         <router-link to="/logout" v-if="isLoggedIn">logout</router-link>
         <router-link to="/login" v-else>login</router-link>
         <router-view/>
      </div>
      <script src="js/27eat-client.js"></script>
   </body>
</html>
